frontend/node_modules/
frontend/dist/
backend/node_modules/
backend/dist/

# Ignore environment variable files
frontend/.env
backend/.env
*.evn.*

# Ignore log files
*.log

# Ignore IDE specific files
.vscode/
.idea/
# Ignore OS specific files
.DS_Store
Thumbs.db

